@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --purple-800: #11031b;
  --purple-500: #430D4B;
  --purple-400: #7b188a;
  --purple-300: #8e1da0;
  --purple-200: #b322c9;
  --purple-100: #F5D5E0;
  
  --gray-900: #0a0a0a;
  --gray-800: #111111;
  --gray-200: #c1c1c1;
  --gray-100: #e9e9e9;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #353535a6;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* ====== AUXILIAR CLASS ========== */

.hide {
  display: none;
}

/* ================================ */

body {
  -webkit-font-smoothing: antialiased;

  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  
  background: var(--gray-900);
  color: var(--gray-100);

  width: 100%;
  height:  100vh;

  display: grid;
  grid-template-columns: 50% 50%;
}

.container {
  background: url('./assets/bg.jpg') no-repeat center;
  width: 100%;
  padding: 5rem;
}

.container .layout-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8rem;

  margin-top: 40%;
  
}

.container .hero {
  line-height: 0;
  font-family: 'Kanit';
  font-weight: 600;
}

.container .hero img {
  width: 300px;
}

.container .hero p {
  line-height: 1.6;
  font-weight: 400;
  color: var(--gray-200);
  width: 70%;
  text-align: justify;
}

.form-container {
  width: 400px;
}

.form-inputs {
  display: grid;
  grid-template-columns: 40% 1fr;
  gap: 2rem;
  background-color: var(--gray-800);
  padding: 1.5rem;
  border-radius: 8px;
}

.form-inputs input {
  all: unset;
  border-bottom: 2px solid var(--purple-400);
  padding: 10px 5px;
}

.form-inputs button {
  border: none;
  border-radius: 8px;

  color: white;
  background: var(--purple-200);
  
  font-size: 1.6rem;
  font-weight: 300;
  font-family: 'Kanit';

  cursor: pointer;
  transition: .2s;
}

.form-inputs button:hover {
  background: var(--purple-300);
}

#info-message {
  font-size: 1.2rem;
}


/* ========== RIGHT CONTENT ==================== */

.pics-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-pic {
  font-size: 1.2rem;
  font-weight: 300;
  width: 380px;
  text-align: center;
}

.empty-pic button {
  background: none;
  color: inherit;
  border: none;
  cursor: pointer;
  text-decoration: underline;
}

.pic-container {
  max-height: 100vh;
  overflow: auto;

  padding: 5rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.image-container img{
  width: 100%;
}

.pic-container #image-explanation {
  line-height: 1.6;
  text-align: justify;
}

